{{ form_start(form, {'attr': {'class': 'ui form'}}) }}

<div class="field">
    {{ form_label(form.name, 'Nom du continent') }}
    {{ form_widget(form.name, {'attr': {'placeholder': 'Entrez le nom du continent'}}) }}
    {{ form_errors(form.name) }}
</div>

<button type="submit" class="ui green button">
    <i class="check icon"></i> {{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}
